@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.post-card {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.4s ease-in-out;
  height: 260px;
  width: 410px;
}

.post-card:hover {
  box-shadow: 0 0 5px #191919;
  transform: translateY(-3.5px);
  -webkit-box-shadow: 0 0 5px #191919;
}

.recent-text {
  color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding-top: 14rem;
  position: absolute;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 915px) {
  .post-card {
    height: 300px;
    width: 450px;
  }

  .recent-text {
    font-size: 18px;
    padding-top: 15.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .post-card {
    height: 230px;
    width: 345px;
  }

  .recent-text {
    font-size: 16px;
    padding-top: 12rem;
  }
}

@media only screen and (max-width: 385px) {
  .post-card {
    height: 205px;
    width: 310px;
  }

  .recent-text {
    font-size: 14px;
    padding-top: 10.5rem;
  }
}

@media only screen and (max-width: 340px) {
  .post-card {
    height: 190px;
    width: 285px;
  }

  .recent-text {
    font-size: 14px;
    padding-top: 10rem;
  }
}
