@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.recent-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.recent-header {
  font: 30px 'Open Sans', sans-serif;
  margin: 3rem 0;
}
