nav {
  width: 100%;
}

nav a {
  display: inline-block;
}

.header-nav {
  box-shadow: 0 7px 6px -6px rgba(32, 33, 36, 0.28);
  display: flex;
  justify-content: center;
  width: 100vw;
}

.fixed-nav nav {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

span.logo {
  max-width: 0;
  overflow: hidden;
  font: 30px 'Oswald', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-weight: 100;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.35s;
}

.header-link {
  color: #2b2b2b;
  font: 20px 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.active {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
}

#home,
#contact,
#blog {
  transition: 0.4s all;
}

#home:hover,
#contact:hover,
#blog:hover {
  color: darkred;
}
