@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.footer {
  background-color: #181818;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
}

.footer-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #f7f7f7e5;
}

.weekly-email {
  align-items: center;
  display: flex;
  flex-direction: column;
}
