.footer {
  background-color: #181818;
  display: flex;
  justify-content: space-evenly;
  height: 350px;
  width: 100%;
  width: 100vw;
}

.footer-header {
  color: #f7f7f7e5;
}

.weekly-email {
  align-items: center;
  display: flex;
  flex-direction: column;
}
